p SOKUHAKU運営事務局より
p パスワードリセットのリンクをお送りします。
= link_to "#{edit_password_url(@resource, reset_password_token: @token)}", edit_password_url(@resource, reset_password_token: @token) 
p こちらのリンクよりパスワードをリセットしてください
